
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
  margin: 0;
}
 
.header{
    height:120px;
    /* padding:15px 0px; */
    background-color: #000;
    position: sticky;
    width: 100%;
    z-index: 1000; 
    margin: 0;
    padding: 0;
}
.container{
    
    width: 100%;
    margin: 0px auto;
    padding: 0;
    max-width: none;
    /* padding: 0px 15px; */
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.company-logo{
    width: 200px;
    height: 100px;
}
.company-logo img{
    max-width: 100%;
    height: auto;
}
.main-menu ul li a:hover {
  color: rgb(101, 221, 45);
}
.main-menu {
  display: none;
}
.main-menu ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 10px;
}
.main-menu ul li a{
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.hamburger {
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.main-menu.show {
  display: block;
}

@media (min-width: 768px) {
  .main-menu {
    display: block !important;
  }

  .main-menu ul {
    flex-direction: row;
    gap: 0;
  }

  .main-menu ul li a {
    padding: 20px;
  }

  .hamburger {
    display: none;
  }
}