
.main-banner{
  background-image: url(https://cdn.eventplanner.net/imgs/adv-2772/46212-hp-sb-desktop-event-lounge@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-background{
  background-color: black;
}