.footer-background {
  min-height: 300px; 
  padding: 40px 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
  height: 150px;
  object-fit: contain;
}

.footer-copy {
  font-size: 14px;
  color: #aaa;
}


@media (max-width: 768px) {
  .footer-logo img {
    height: 100px;
  }

  .footer-logo p, .footer-copy {
    font-size: 14px;
    padding: 0 10px;
  }

  .footer-background {
    padding: 30px 10px;
  }
}
